header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span{
  color: Mediumaquamarine;
}

nav span {
  display: inline-block;
  color: #000000;
}

.main.container {
  display: inline-flex;
  margin-top: 80px;
  padding-top: 80px;
  border: 1px solid #000000;
}

.column.large {
  display: flex; flex-flow: wrap column;
  width: 630px;
  border: 2px solid #000000;
}

.content {
  border: 1px solid #000000;
}

.lead-story {
  border: 1px solid #000000;
}

.story {
  border: 1px solid #000000;
}

.main.container > span {
  border: 1px solid #000000;
}








.column.medium {
  display: flex;
  flex-direction property: column;
  width: 300px;
  border: 2px solid black;
}

.column.small {
  display: flex;flex-flow: wrap column;
  width: 240px;
  border: 2px solid black;
}


}
